.form-container .help-sign-up {
    margin: 1.2em 0; /* Keep if specific spacing is needed */
}

fieldset {
    border: none;
    border-top: 1px solid #7c7b7b;
    margin: 0 0 1.5em 0;
    padding: 0;
}

legend {
    text-align: center;
    padding: 0 10px;
    font-size: 1rem;
    color: #7c7b7b;
    background-color: #ffffff;
    position: relative;
    top: -0.7em;
}

form {
    color: #1f1d1d;
}
